[submodule "themes/hugo-nederburg-theme"]
	path = themes/hugo-nederburg-theme
	url = https://github.com/appernetic/hugo-nederburg-theme
[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = git@github.com:zhaohuabing/hugo-theme-cleanwhite.git
[submodule "public"]
	path = public
	url = git@github.com:zhaohuabing/zhaohuabing.github.io.git
[submodule "static/img"]
	path = static/img
	url = git@github.com:zhaohuabing/blog_img.git
