<div class="container">
	<div class="row">
<!-- USE SIDEBAR -->
    <!-- Post Container -->
    		<div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                post-container
            ">
{{ $paginator := .Paginate (where (where .Site.Pages "Type" "post") "IsPage" true) }}
{{ partial "post_list.html" . }}
{{ partial "pagination.html" . }}
    		</div>
    <!-- Sidebar Container -->
            <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">
                <!-- Featured Tags -->
                {{ if .Site.Params.featured_tags }}
                <section>
                    <hr class="hidden-sm hidden-xs">
                    <h5><a href="{{"/tags/" | absURL }}">FEATURED TAGS</a></h5>
                    <div class="tags">
                        {{ $featured_condition_size := .Site.Params.featured_condition_size }} 
                        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
			{{ if gt (len $taxonomy.Pages) $featured_condition_size }} 
                                <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" title="{{ $name }}">
                                    {{ $name }}
                                </a>
	                   {{ end }} 
                        {{ end }}
                    </div>
                </section>
                {{ end }}

                <!-- Short About -->
                <section class="visible-md visible-lg">
                    <hr><h5><a href="">ABOUT ME</a></h5>
                    <div class="short-about">
                        {{ with .Site.Params.sidebar_avatar }}
                            <img src="{{ . }}" />
                        {{ end }}
			{{ with .Site.Params.sidebar_about_description }}
                            <p>{{ . }}</p>
                        {{ end }}
	           </div>		
                <!-- Friends Blog -->
    		</div>

	</div>
</div>
