{{ define "header" }}
<!-- Post Header -->
<style type="text/css">
    header.intro-header{
        background-image: url('{{ if .Params.image }}{{ .Params.image | absURL }}{{ else }}{{ .Site.Params.header_img }}{{ end }}')
    }
</style>
<header class="intro-header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="tags">
                       {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                       <a class="tag" href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" title="{{ $name }}">
                           {{ $name }}
                        </a>
                        {{ end }}
                    </div>
                    <h1>{{ .Title }}</h1>
                    <h2 class="subheading">{{ .Params.subtitle }}</h2>
                    <span  class="meta">Posted by {{ if .Params.author }}{{ .Params.author }}{{ else }}{{ .Site.Title }}{{ end }} on {{ .Date.Format "Monday, January 2, 2006" }}
                    <span id="{{ .URL }}" class="leancloud_visitors meta_data_item" data-flag-title="">
                        <span class="post-meta-item-icon">
                          <span class="octicon octicon-eye"></span> 
                        </span>
                        <i class="fa fa-eye"></i>
                        <span class="old-visitors-count" style="display: none;"></span>
                        <span class="leancloud-visitors-count"></span>
                   </span>
                </span>
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }}

{{ define "body" }}
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">

            <!-- Post Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                post-container">
        <header>
        <h2>TOC</h2>
        </header>
        {{.TableOfContents}}
		{{ .Content }}

                <hr>

                <ul class="pager">
                    {{ if .Prev }}
                    <li class="previous">
                        <a href="{{ .Prev.URL }}" data-toggle="tooltip" data-placement="top" title="{{ .Prev.Title}}">&larr; Previous Post</a>
                    </li>
                    {{ end }}
                    {{ if .Next }}
                    <li class="next">
                        <a href="{{ .Next.URL }}" data-toggle="tooltip" data-placement="top" title="{{ .Next.Title}}">Next Post &rarr;</a>
                    </li>
                    {{ end }}
                </ul>


		<!-- disqus 评论框 end -->
		<div id="disqus-comment"></div>
            </div>

            <!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">

                <!-- Featured Tags -->
                <section>
                    <hr class="hidden-sm hidden-xs">
                    <h5><a href="/tags/">FEATURED TAGS</a></h5>
                    <div class="tags">
                    {{ $featured_condition_size := .Site.Params.featured_condition_size }} 
                    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                       {{ if gt (len $taxonomy.Pages) $featured_condition_size }} 
                            <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" title="{{ $name }}">
                                {{ $name }}
                            </a>
                       {{ end }} 
                    {{ end }}
                    </div>
                </section>

                <!-- Friends Blog -->
                <hr>
                <h5>FRIENDS</h5>
                <ul class="list-inline">
                    {{ range .Site.Params.friend_link }}
                        <li><a target="_blank" href="{{.href}}">{{.title}}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</article>

{{ if .Site.Params.disqus_username }}
<script src="/js/iDisqus.js"></script>
<script>
var disq = new iDisqus('disqus-comment', {
    forum: '{{ .Site.Params.disqus_username }}',
    api: 'https://disqusapi.zhaohuabing.com',
    site: 'https://zhaohuabing.com',
    mode: 1,
    timeout: 5000,
    init: true
});
</script>
{{ end }}


{{ end }}


